<body class="g-sidenav-show  bg-gray-200">
  <%= render "/layouts/header" %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <%= render "/shared/nav_bar" %>

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <%= render "/shared/result_nav" %>

          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-3 pb-2">
                <h6 class="text-white text-capitalize ps-3">All Results</h6>
              </div>
            </div>

            <div class="card-body px-3 pb-2">
              <%= form_tag(results_path, method: "get") do %>
                <div class="input-group input-group-outline my-3">
                  <div class="col-sm-2">
                    <label class='form-label date-label'>From</label>
                    <%= date_field_tag "date_from", @date_from, class: 'form-control', required: 'true' %>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2">
                    <label class='form-label date-label'>To</label>
                    <%= date_field_tag "date_to", @date_to, class: 'form-control' %>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-6">
                    <%= submit_tag "Preview", class: "btn btn-primary" %>
                    <% if @results.length > 0 %>
                      <%= link_to "Export", request.original_url+"&type=excel", class: "btn btn-success", target: "blank" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>                      
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Marks</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total Marks</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @results.length == 0 %>
                      <td class="align-middle" colspan="6">
                        <p class="text-xs font-weight-bold mb-0 text-center">No data available</p>
                      </td>
                    <% end %>

                    <% @results.each do |result| %>
                      <tr>
                        <td class="align-middle">
                          <div class="d-flex px-3 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm"><%= result.user.name %></h6>
                              <p class="text-xs text-secondary mb-0"><%= result.user.email %></p>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle">
                          <p class="text-xs font-weight-bold mb-0"><%= result.user.mobile %></p>
                        </td>
                        <td class="align-middle">
                          <% if result.user.status == "test_sent" %><span class="badge badge-sm bg-gradient-primary">Test Sent</span><% end %>
                          <% if result.user.status == "test_taken" %><span class="badge badge-sm bg-gradient-info">Test Taken</span><% end %>
                          <% if result.user.status == "test_not_taken" %><span class="badge badge-sm bg-gradient-secondary">Test Not Taken</span><% end %>

                          <% if result.user.status == "on_hold" %><span class="badge badge-sm bg-gradient-warning">On hold</span><% end %>
                          <% if result.user.status == "selected" %><span class="badge badge-sm bg-gradient-success">Selected</span><% end %>
                          <% if result.user.status == "rejected" %><span class="badge badge-sm bg-gradient-danger">Rejected</span><% end %>
                        </td>
                        <td class="align-middle">
                          <p class="text-xs font-weight-bold mb-0"><%= result.marks_get %></p>
                        </td>
                        <td class="align-middle">
                          <p class="text-xs font-weight-bold mb-0"><%= result.total_marks %></p>
                        </td>
                        <td class="align-middle">
                          <p class="text-xs font-weight-bold mb-0"><%= result.percentage.to_i %>%</p>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "/layouts/footer" %>
    </div>
  </main>
</body>
