<%= form_with(model: test, local: true) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% test.errors.full_messages.each do |message| %>
          <li style="list-style-type: none; margin-left: -2rem;">
            <span class="badge badge-sm bg-gradient-danger"><%= message %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group input-group-outline my-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, autocomplete: "name", class: "form-control", required: true %>
  </div>

  <div class="input-group input-group-outline my-3">
    <%= f.label :total_time, class: "form-label" %>
    <%= f.text_field :total_time, autocomplete: "total_time", class: "form-control", required: true %>
  </div>

  <div class="input-group input-group-outline my-3">
    <%= f.label :tags, class: "form-label" %>
    <%= f.text_field :tags, autocomplete: "tags", class: "form-control", required: true %>
  </div>

  <div class="input-group input-group-outline mb-3">
    <%= f.select :status, options_for_select({ "Active" => "active", "In Active" => "in_active" }, test.status), { prompt: "Select Status" }, { class: "form-select" } %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" %>
  </div>
<% end %>
